<h1><%= @organizer.user.name %>'s Events</h1>

<div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; margin-top: 30px;">
      <% if @events.any? %>
    <%= render partial: "events/display", collection: @events, as: :event, locals: { show_controls: true } %>
  <% else %>
    <p>This organizer hasn't scheduled any events yet.</p>
  <% end %>
</div>